@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body,
.vff,
.vff textarea,
.vff input,
.vff select,
.vff select option,
.vff kbd,
.vff-header,
.vff-footer {
  font-family: "Montserrat", sans-serif !important;
}

:root {
  --vff-bg-color: #f3f4f6 !important;
  --vff-main-text-color: #1d4ed8 !important;
  --vff-secondary-text-color: #374151 !important;
}

.f-text,
.fh2 {
  color: #000 !important;
  font-weight: 600 !important;
}
.f-radios {
  background-color: transparent !important;
  font-weight: 500 i !important;
}

.f-answer input,
textarea {
  color: #374151 !important;
  font-weight: 500 !important;
}

.f-enter-desc,
.f-label {
  color: #374151 !important;
}

.o-btn-action {
  font-weight: 600 !important;
  text-transform: capitalize !important;
  border-radius: 9999px !important;
  font-weight: normal !important;
  padding: 0.5rem 1rem !important;
}
.vff-footer .footer-inner-wrap {
  background-color: hsla(0, 0%, 94.1%, 0.75) !important;
}
